<h1>Show page</h1>

<table border="1">
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<tr>
		<td><%= @master.name %></td>
		<td><%= @master.description %></td>
	</tr>

</table>

<%= link_to "Home page", root_url %>